# auth.hackclub.com
HCA_CLIENT_ID=12345abcdef
HCA_CLIENT_SECRET=supersecret

# cdn.hackclub.com
CDN_API_KEY=sk_cdn_

# openssl rand -hex 32
SESSION_SECRET=securenumberofhexcharactershereislike32orsomethig

PUBLIC_BASE_URL=http://localhost:4321

# readonly is fine
AIRTABLE_API_KEY=pat-
AIRTABLE_BASE_ID=app-
AIRTABLE_SUBMISSIONS_TABLE_ID=tbl-

# comma-separated Slack IDs for admin/reviewer access
ADMIN_IDS=U123,U456

# review
SLACK_BOT_TOKEN=xoxb-
SLACK_LOGS_CHANNEL=C0123456789