# auth.hackclub.com
HCA_CLIENT_ID=12345abcdef
HCA_CLIENT_SECRET=supersecret

# cdn.hackclub.com
CDN_API_KEY=sk_cdn_

# openssl rand -hex 32
SESSION_SECRET=securenumberofhexcharactershereislike32orsomethig

PUBLIC_BASE_URL=http://localhost:4321

# readonly is fine
AIRTABLE_API_KEY=pat-
AIRTABLE_BASE_ID=app-